body {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-size: 1rem;
}

#pokemonListSection {
    height: 100vh;
    background-color: #E3E8F2;
    background-image: url("./img/bg_v1.jpg");
}

#pokemonList {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0;
}

#pokemonListButtons {
    display: flex;
    margin: 25px 0;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
}

.pokemonImgStyle {
    max-width: 100%;
    max-height: 150px;
}

h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 0;
}

h3 {
    font-size: 2em;
    padding: 0;
}

section {
    width: 100%;
}

.pokemonName {
    font-weight: 900;
    font-size: 2em;
    margin: 35px;
}

.pokemonId {
    margin: 50px;
    font-weight: 500;
    font-size: 1.5em;
}

.learnMoreButton {
    font-weight: 500;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 150px;
    cursor: pointer;
    border-radius: 5px;
}

#nextButton {
    font-weight: 500;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    margin: 10px;
}

.buttonStyle {
    font-weight: 500;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.flip-box {
    background-color: transparent;
    width: 350px;
    height: 650px;
    border-radius: 15px;
    perspective: 1000px;
    display: flex;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-inner.is-flipped {
    transform: rotateY(180deg);
}

.is-flipped:hover {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #ffffff;
}

.flip-box-back {
    background-color: rgb(255, 255, 255);
    transform: rotateY(180deg);
}

.container-grid-1 {
    display: grid;
    width: 350px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    row-gap: 10px;
}

.container-grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    padding: 0px 20px;
}

.item-grid-2-col-1-5 {
    grid-column: 1 / 5;
}

.item-grid-2-col-1-2 {
    grid-column: 1 / 2;
}

.item-grid-2-col-2-3 {
    grid-column: 2 / 3;
}

.item-grid-2-col-2-4 {
    grid-column: 2 / 4;
}

.item-grid-2-col-3-4 {
    grid-column: 3 / 4;
}

.item-grid-2-col-3-5 {
    grid-column: 3 / 5;
    text-align: left;
}

.item-grid-1:nth-of-type(3) {
    grid-column: 1 / 3;
}

.item-grid-1:nth-of-type(2) {
    justify-self: end;
    margin-right: 20px;
}

.backPokemonNameFontStyle {
    font-weight: 900;
    font-size: 1.5em;
}

.backPokemonIdFontStyle {
    font-weight: 900;
    font-size: 1.5em;
}

.backSubHeaderFontStyle {
    font-weight: 900;
    font-size: 1em;
    margin-top: 20px;
}

.backListFontStyle {
    color: #909090;
}

.vertical {
    border-left: 35px solid rgb(214, 214, 214);
    height: 100px;
    justify-self: center;
}

.vertical-hp {
    border-left: 35px solid rgb(222, 0, 0);
    height: 80px;
}

.horizontal {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    justify-self: center;
}

.chart {
    max-width: 800px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 18px;
    padding: 0px 20px;
}

.bar {
    display: flex;
    flex-direction: column;
    height: var(--bar-height, 100%);
    flex: 0 0 37px;
}

.section {
    display: flex;
    flex-grow: var(--section-value, 1);
    background-color: rgb(198, 198, 198);
}

.pillShape {
    padding: 2px 15px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}

.fightingColor {
    background-color: rgb(105, 50, 30)
}

.iceColor {
    background-color: rgb(6, 100, 167)
}

.hpColor {
    background-color: #FF5959;
}

.attkColor {
    background-color: #F5AC78;
}

.defColor {
    background-color: #FAE078;
}

.spAttkColor {
    background-color: #9DB7F5;
}

.spDefColor {
    background-color: #A7DB8D;
}

.speedColor {
    background-color: #FA92B2;
}

#searchForPokemon {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#formSearchPokemon {
    padding: 10px 20%
}

#searchPokemonName {
    border-radius: 20px;
    border-style: none;
    height: 3em;
    padding-left: 3em;
    background-color: #ebebeb;
    display: flex;
}

.labelStyle {
    font-size: 2em;
}

.inputgroup {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.inputgroup .innericon {
    position: absolute;
    top: 9px;
    left: 8px;
    z-index: 2;
    display: block;
    text-align: center;
    pointer-events: none;
}

.searchIcon {
    width: 25px;
}

#wrapperSearchedPokemon {
    margin: 15px 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#recomendationList {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#recomendationList li {
    color: rgb(6, 52, 10);
    background-color: rgb(210, 220, 233);
    margin: 5px;
    padding: 5px 15px;
    border-radius: 50px;
}

#searchedPokemonContainer {
    display: flex;
}

.pokemonColumns {
    background-color: #f0f0f0;
    width: 33%;
    flex-grow: 1;
}

.searchedPokemonImg {
    width: 100%;
}

.roundedImage {
    border-radius: 50%;
    width: 100px;
}

#pokemonLogo {
    width: 250px;
    margin: 20px;
}

header {
    background-color: white;
    text-align: center;
}