body{
    margin:0;
    padding:0;
    font-family: "Jost", sans-serif;;
    font-size: 1rem;
    height: 100vh;
    background-color: #E3E8F2;
}
#pokemonList {
    display: flex;
    padding: 20px;
    gap: 25px;
    flex-wrap: wrap;
}

.pokemonLi {
    text-align: center;
}

ul {
    list-style-type: none;
}

li{
    width:350px;
    height:650px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

img{
    max-width: 100%;
}

h1 {
    font-size: 5em;
    text-align: center;
    margin:0;
    padding: 0;
}

section {
    width: 100%;
}

.pokemonName{
    font-weight:900;
    font-size: 2em;
}
.pokemonId{
    margin-top: 50px;
    font-weight:800;
    font-size: 1.5em;
}
.learnMoreButton{
    font-weight:500;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
}

#nextButton{
    font-weight:500;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px;
    cursor: pointer;
    border-radius: 5px;
}